.app {
  background-color: #3c6f41;
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title-and-sidebar {
  display: flex;
  flex-direction: column;
}
